<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<script src="javascript/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	<script src="javascript/bootstrap.min.js"></script>
	<script src="javascript/SubscriptionController.js"></script>
    <link rel="stylesheet" href=/css/bootstrap.min.css">
    <script type="text/javascript">
    </script>
</head>

<body ng-controller="SubscriptionController as ctrl">
	<div class="row" style="margin-top: 50px;">
		<div class="col-xs-12 text-center">
		   <h3>Set up subscription</h3>
		</div>
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-xs-4">Amount</label>
					<div class="col-xs-8">
						<input type="number" autofocus class="form-control" ng-model="ctrl.subscription.amount.value"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">Payment Frequency</label>
					<div class="col-xs-8">
						<select class="form-control" id="frequency" ng-model="ctrl.subscription.subscription_type">
						  <option value="DAILY" selected>Daily</option>
						  <option value="WEEKLY">Weekly</option>
						  <option value="MONTHLY">Monthly</option>
						</select>
					</div>
				</div>
				<div class="form-group" ng-if="['WEEKLY', 'MONTHLY'].indexOf(ctrl.subscription.subscription_type) >= 0">
					<label class="control-label col-xs-4">Pay Day</label>
					<div class="col-xs-8">
					   <select class="form-control" ng-model="ctrl.subscription.pay_day" ng-if="ctrl.subscription.subscription_type === 'WEEKLY'">
                          <option value=1>Sunday</option>
                          <option value=2>Monday</option>
                          <option value=3>Tuesday</option>
                          <option value=4>Wednesday</option>
                          <option value=5>Thursday</option>
                          <option value=6>Friday</option>
                          <option value=7>Saturday</option>
                        </select>
						<input type="number" class="form-control" ng-model="ctrl.subscription.pay_day" ng-if="ctrl.subscription.subscription_type === 'MONTHLY'"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4">End Date</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" ng-model="ctrl.subscription.end_date" placeholder="DD/MM/YYYY"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-8 col-xs-offset-2">
						<button class="btn btn-primary pull-right" type="button" ng-click="ctrl.submit();">Submit</button>
					</div>
				</div>
				<div class="form-group" ng-show="ctrl.result">
					<div class="col-xs-8 col-xs-offset-2">
						{{ctrl.result}}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>